<!-- Agregar Productos addProduct.ejs -->
<!DOCTYPE html>
<html>

<!-- START HEAD-->
<%- include("./partials/head.ejs", {title: "Crear producto" , style1:'rel=stylesheet href=/css/formsproducts.css',
    style2:""}) %>
    <!-- END HEAD-->

    <body>

        <!-- START HEADER -->
        <%- include("./partials/header.ejs") %>
            <!-- END HEADER-->


            <form class="forms mx-md-4" action="/products" method="POST" enctype="multipart/form-data">
                <div class="container2">
                    <h1>Agregar Productos</h1>


                    <div class="align-items-center mb-4">
                        <label for="nombre-producto" class="form-label"><b>Nombre del producto</b></label>
                        <input type="text" placeholder="Nombre de producto" name="nombre" id="nombre"  value="<%= (locals && locals.old) ? old.nombre : null %>" required>
                        <span class="not-empty-name"></span>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "nombre") { %>
                                <label for="nombre-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>
                    </div>

                    <div class="align-items-center mb-4">
                        <label for="descripcion-producto" class="form-label"><b>Descripcion del producto</b></label>
                        <textarea type="text" placeholder="Descripcion de producto" name="descripcion" id="descripcion" required><%= (locals && locals.old) ? old.descripcion : null %></textarea>
                        <span class="not-empty-descripcion"></span>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "descripcion") { %>
                                <label for="descripcion-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    </div>

                    <div class="mb-4 categoria-producto">
                        <label for="categoria-producto" class="form-label"><b>Categoría</b></label>
                        <select id="categoria" name="category_id" required>
                                <option value="" disabled selected> - Seleccione la categoría - </option>
                                <%categories.forEach( category => { %>
                                <option value="<%= category.id %>"><%=category.nombre%></option>
                                    <%})%>
                        </select>
                        <span class="not-empty-categoria"></span>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "categoria") { %>
                                <label for="categoria-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>
                    </div>

                    <div class="align-items-center mb-4">
                        <label for="cantidad" class="form-label"><b>Cantidad</b></label>
                        <input type="number" placeholder="Cantidad de producto" name="cantidad" id="cantidad" value="<%= (locals && locals.old) ? old.cantidad : null %>"
                            required>
                        <span class="not-empty-cantidad"></span>


                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "cantidad") { %>
                                <label for="cantidad"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>
                    </div>

                    <div class="align-items-center mb-4">
                        <label for="precio" class="form-label"><b>Precio del producto</b></label>
                        <input type="number" placeholder="Precio de producto" name="precio" id="precio" value="<%= (locals && locals.old) ? old.precio : null %>"
                            required>
                        <span class="not-empty-precio"></span>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "precio") { %>
                                <label for="precio"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>
                     </div>

                    <div class="align-items-center mb-4">
                        <label for="descuento-producto" class="form-label"><b>Descuento</b></label>
                        <input type="number" placeholder="Descuento del producto" name="descuento" value="<%= (locals && locals.old) ? old.descuento : null %>"
                            id="descuento">
                        <span class="not-empty-descuento"></span>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "descuento") { %>
                                <label for="descuento-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>
                    </div>

                    <div class="align-items-center mb-4">
                        <label for="imagen-producto" class="form-label"><b>Imagen del producto</b></label>
                        <input type="file" placeholder="Imagen de producto" name="imagenproducto" id="imagenproducto"
                            required>
                    </div>

                    <div class="botones">
                        <button type="submit" class="btn-bgstroke" href="#">Guardar</button>
                    </div>

                    <div class="botones">
                        <button type="submit" class="btn-bgstroke" href="#">Borrar</button>
                    </div>

                </div>
            </form>
            <script src="/js/validAddProduct.js"></script>
    </body>

    <!-- START FOOTER -->
    <%- include("./partials/footer.ejs") %>
        <!-- END FOOTER-->


</html>