<!DOCTYPE html>
<html>

<!-- START HEAD-->
<%- include("./partials/head.ejs", {title: "Crear producto" , style1:'rel=stylesheet href=/css/formsproducts.css',
    style2:""}) %>
    <!-- END HEAD-->

    <body>

        <!-- START HEADER -->
        <%- include("./partials/header.ejs") %>
            <!-- END HEADER-->


            <form class="forms" action="/products" method="POST" enctype="multipart/form-data">
                <div class="container2">
                    <h1>Agregar Productos</h1>


                    <div class="campos-form">
                        <label for="nombre-producto"><b>Nombre del producto</b></label>
                        <input type="text" placeholder="Nombre de producto" name="nombre" id="nombreproducto"  value="<%= (locals && locals.old) ? old.nombre : null %>" required>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "nombre") { %>
                                <label for="nombre-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="descripcion-producto"><b>Descripcion del producto</b></label>
                        <textarea type="text" placeholder="Descripcion de producto" name="descripcion" id="descripcion" required><%= (locals && locals.old) ? old.descripcion : null %></textarea>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "descripcion") { %>
                                <label for="descripcion-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form categoria-producto">
                        <label for="categoria-producto"><b>Categoría</b></label>
                        <select name="category_id" required>
                                <option value="" disabled selected> - Seleccione la categoría - </option>
                                <%categories.forEach( category => { %>
                                <option value="<%= category.id %>"><%=category.nombre%></option>
                                    <%})%>
                        </select>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "categoria") { %>
                                <label for="categoria-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="cantidad-producto"><b>Cantidad</b></label>
                        <input type="number" placeholder="Cantidad de producto" name="cantidad" id="cantidadproducto" value="<%= (locals && locals.old) ? old.cantidad : null %>"
                            required>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "cantidad") { %>
                                <label for="cantidad-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="precio-producto"><b>Precio del producto</b></label>
                        <input type="number" placeholder="Precio de producto" name="precio" id="precioproducto" value="<%= (locals && locals.old) ? old.precio : null %>"
                            required>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "precio") { %>
                                <label for="precio-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="descuento-producto"><b>Descuento</b></label>
                        <input type="number" placeholder="Descuento del producto" name="descuento" value="<%= (locals && locals.old) ? old.descuento : null %>"
                            id="descuento-producto" required>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "descuento") { %>
                                <label for="descuento-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="imagen-producto"><b>Imagen del producto</b></label>
                        <input type="file" placeholder="Imagen de producto" name="imagenproducto" id="imagenproducto"
                            required>
                    </div>

                    <div class="botones">
                        <button type="submit" class="btn-bgstroke" href="#">Guardar</button>
                    </div>

                    <div class="botones">
                        <button type="submit" class="btn-bgstroke" href="#">Borrar</button>
                    </div>

                </div>
            </form>

    </body>

    <!-- START FOOTER -->
    <%- include("./partials/footer.ejs") %>
        <!-- END FOOTER-->


</html>