<!DOCTYPE html>
<html lang="en">

<!-- START HEAD-->
<%- include("./partials/head.ejs", {title: "detalle de producto" , style1:'rel=stylesheet href=/css/detailProduct.css',
    style2:""}) %>
    <!-- FINISH HEAD-->

    <!-- START PRODUCT PAGE -->

    <body>

        <!-- START HEADER-->
        <%- include("./partials/header.ejs") %>
            <!-- END HEADER-->

            <div class="super_container">
                <div class="single_product">
                    <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
                        <div class="row">
                            <div></div>
                            <% if (locals.userLogin && locals.userLogin.rol === "Administrador") { %>
                            <div class="eliminar-product">
                                <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn-bgstroke-delete" title="Eliminar este producto"><i
                                            class="fas fa-trash"></i></button>
                                </form>                              <div class="botonedit">
                                    <a href="/products/editProduct/<%=product.id%>" target="_blanc">
                                        <button type="button" class="btn-bgstroke" title="Editar este produto"> <i
                                                class="fas fa-edit"></i></button>
                                    </a>

                                    <a href="/products/addProduct" target="_blanc">
                                        <button type="button" class="btn-bgstroke" title="Agregar nuevo producto "><i
                                                class="fas fa-plus-square"></i></i></button>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                            <div class="col-lg-4 order-lg-2 order-1">
                                <div class="image_selected">
                                    <img src="/image/<%= product.imagen%>" alt="imagen producto">
                                </div>
                            </div>
                            <div class="col-lg-6 order-3">
                                <div class="product_description">
                                    <div class="product_name">
                                        <h2>
                                            <%=product.nombre%>
                                        </h2>
                                    </div>
                                    <div class="preciopdp2"> <span class="product_price2">ARS $
                                            <%=product.precio-product.precio*product.descuento /100%>
                                        </span>
                                        <strike class="product_discount2">ARS $
                                                <%=product.precio%><span>
                                        </strike>
                                    </div>

                                    <hr class="singleline">
                                    <div class="informacionpdp"> <span class="product_info">
                                            <%=product.descripcion%>
                                        </span>
                                    </div>

                                    <hr class="singleline">
                                    <div class="order_info d-flex flex-row">
                                        <form action="#">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 cantidad">
                                            <label class="col-xs-3" for="quantity">Cantidad:</label>
                                            <input id="quantity" type="number" value="1"
                                                class="form-control quantity-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 botonpagar">
                                    <a href="/cart" target="_blanc">
                                        <button type="button" class="btn-bgstroke">Comprar</button>
                                        <!-- div class="product_fav"><i class="fas fa-heart"></i></div -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PRODUCT PAGE-->
    </body>

    <!-- START FOOTER-->
    <%- include("./partials/footer.ejs") %>
        <!-- END FOOTER-->

</html>