<!DOCTYPE html>
<html lang="en">

<!-- START HEAD-->
<%- include("./partials/head.ejs", {title: "detalle de producto" , style1:'rel=stylesheet href=/css/formsproducts.css',
    style2:""}) %>
    <!-- FINISH HEAD-->

    <!-- START DETAIL USER PAGE -->

    <body>

        <!-- START HEADER-->
        <%- include("./partials/header.ejs") %>
            <!-- END HEADER-->

            <form action="/users/editUser/<%= user.id %>?_method=PUT" method="POST" class="forms" enctype="multipart/form-data">
                <div class="container2">

                    <div class="d-flex flex-column align-items-center text-center">
                        <img class="rounded-circle mt-5" src="/image/users/<%= user.imagen %>" width="90">
                        <span class="font-weight-bold"><%= user.nombre + " " + user.apellido %></span>
                            <span class="text-black-50"><%= user.email %></span>
                            <span>Argentina</span>
                    </div>


                    <h1>Mi perfil</h1>


                    <div class="">


                        <div class="campos-form">
                            <label for="nombre-users"><b>Nombre</b></label>
                            <input type="text" placeholder="" value="<%= user.nombre %>" name="nombre" id="nombreusers" required>
                        </div>

                        <div class="campos-form">
                            <label for="apellido-users"><b>Apellido</b></label>
                            <input type="text" placeholder="" value="<%= user.apellido %>" name="apellido" id="apellidousers" required>
                        </div>

                        <div class="campos-form">
                            <label for="email-users"><b>Email</b></label>
                            <input type="text" placeholder="" value="<%= user.email %>" name="email" id="email" required>
                        </div>

                        <div class="campos-form">

                            <label for="password-users"><b>Contraseña</b></label>
                            <input type="password" placeholder="" value="<%= user.password %>" name="password" id="password" required>
                        </div>


                        <!-- <div class="campos-form">
                            <label for="direccion-users"><b>Dirección</b></label>
                            <input type="text" placeholder="" value="" name="direccionusers" id="direccionusers"
                                required>
                        </div> -->

                            <!-- <label for="direccion-users"><b>Rol</b></label>
                            <input type="text" placeholder="" value="" name="direccionusers" id="direccionusers"
                                required>
                        </div> -->


                        <div class="campos-form">
                            <label for="imagen-user"><b>Cambiar foto</b></label>
                            <input type="file" placeholder="Imagen user" name="imagen" id="imagen" value="">
                        </div>

                        <div class="botones">
                            <button type="submit" class="btn-bgstroke" href="#">Actualizar</button>
                        </div>

                        <div class="botones">
                            <button type="button" class="btn-bgstroke" href="#">Volver</button>
                        </div>

                    </div>
                </div>
            </form>

            <!-- END DETAIL USER PAGE
    </body>

    <!-- START FOOTER-->
    <%- include("./partials/footer.ejs") %>
        <!-- END FOOTER-->

</html>