<!DOCTYPE html>
<html>

<!-- START HEAD-->
<%- include("./partials/head.ejs", {title: "Editando: " + productEdited.nombre,
    style1: 'rel=stylesheet href=/css/formsproducts.css' , style2:""}) %>
    <!-- END HEAD-->

    <body>

        <!-- START HEADER -->
        <%- include("./partials/header.ejs") %>
            <!-- END HEADER-->

            <form action="/products/editProduct/<%= productEdited.id %>?_method=PUT" method="POST" class="forms"
                enctype="multipart/form-data">
                <div class="container2">
                    <h1>Editar Productos</h1>


                    <div class="campos-form">
                        <label for="nombre-producto"><b>Nombre de producto</b></label>
                        <input type="text" placeholder="" value="<%=(locals && locals.old) ? old.nombre : productEdited.nombre%>" name="nombre"
                            id="nombre" required>
                    </div>
                    <span class="not-empty-name"></span>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "nombre") { %>
                                <label for="nombre-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="descripcion-producto"><b>Descripcion del producto </b></label>
                        <textarea type="text" placeholder="" name="descripcion" id="descripcion"
                            required><%=(locals && locals.old) ? old.descripcion : productEdited.descripcion%></textarea>
                            <span class="not-empty-descripcion"></span>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "descripcion") { %>
                                <label for="descripcion"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form categoria-producto">
                        <label for="category_id"><b>Categoría</b></label>

                        <select id="categoria" name="category_id">
                            <option value="<%=productEdited.category_id%>" selected>
                                <%=productEdited.category.nombre%>
                            </option>
                            <% categories.forEach( category => {%>

                                <%if(productEdited.category_id !== category.id){%>
                                    <option value="<%=category.id%>">
                                        <%=category.nombre%>
                                    </option>
                                    <%}%>
                                        <%})%>
                        </select>
                        <span class="not-empty-categoria"></span>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "categoria") { %>
                                <label for="categoria-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="descuento"><b>Descuento</b></label>
                        <textarea type="number" placeholder="" name="descuento" id="descuento"
                            required><%=(locals && locals.old) ? old.descuento : productEdited.descuento%></textarea>
                            <span class="not-empty-descuento"></span>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "descuento") { %>
                                <label for="descuento-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>
                    <br>
                    <div class="campos-form">
                        <label for="cantidad}"><b>Cantidad</b></label>
                        <input type="number" placeholder="Cantidad de producto" name="cantidad" value="<%=(locals && locals.old) ? old.cantidad : productEdited.cantidad%>"
                            id="cantidad">
                            <span class="not-empty-cantidad"></span>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "cantidad") { %>
                                <label for="cantidad-producto"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="precio-producto"><b>Precio del producto</b></label>
                        <input type="number" placeholder="" value="<%=(locals && locals.old) ? old.precio : productEdited.precio%>" name="precio"
                            id="precio" required>
                            <span class="not-empty-precio"></span>
                    </div>

                    <% if (locals && locals.errors) { %>
                        <% for (let i=0; errors.length > i; i++) { %>
                            <% if (errors[i].param === "precio") { %>
                                <label for="precio"><%= errors[i].msg %></label>           
                             <% } %>
                        <% } %>
                    <% } %>

                    <div class="campos-form">
                        <label for="imagen-producto"><b>Imagen del producto (actual:<%=productEdited.imagen%>
                                    )</b></label>
                        <input type="file" placeholder="Imagen de producto" name="imagenproducto" id="imagenproducto"
                            value="">
                    </div>

                    <div class="botones">
                        <button type="submit" class="btn-bgstroke" href="#">Modificar</button>
                    </div>

                    <div class="botones">
                        <button type="reset" class="btn-bgstroke" href="#">Borrar</button>
                    </div>

                </div>
            </form>
            <script src="/js/validEditProduct.js"></script>

    </body>

    <!-- START FOOTER -->
    <%- include("./partials/footer.ejs") %>
        <!-- END FOOTER-->


</html>