<!DOCTYPE html>
<html lang="en">

<!-- START HEAD-->
<%- include("./partials/head.ejs", {title: "Iniciar sesión", style1:"", style2:""}) %>
<!-- END HEAD-->

<!-- START LOGIN-->
<body>

<!-- START HEADER-->
<%- include("./partials/header.ejs") %>
<!-- END HEADER-->

    <section>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <!--div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" -->

                            <p class="text-center h1 fw-bold mx-1 mx-md-4 mt-4">Lista de Usuarios</p>
                            <p class="bajada">Lista de todos los usuarios registrados</p>

                            <!--START TABLA -->
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Fecha de creación</th>
                                        <th scope="col">Términos</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <% for (let i=0; users.length > i; i++) { %>

                                    <% if (i%2 === 0) { %>
                                <tbody>
                                    <tr>
                                        <th scope="row"><%= users[i].id %></th>
                                        <td><%= users[i].nombre %></td>
                                        <td><%= users[i].apellido %></td>
                                        <td><%= users[i].email %></td>
                                        <td>05/02/2022</td>
                                        <td><%= users[i].terminos %></td>
                                        <td><%= users[i].rol %></td>
                                        <td><a class="row-pink" title="Editar" href="/users/detailUser/<%= users[i].id %>"><i class="fas fa-user-edit"></i></a></td>
                                        <td>
                                            <form action="/users/<%= users[i].id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="" title="Eliminar">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>

                                    <% } else { %>
            
                                    <tr>
                                        <th scope="row"><%= users[i].id %></th>
                                        <td><%= users[i].nombre %></td>
                                        <td><%= users[i].apellido %></td>
                                        <td><%= users[i].email %></td>
                                        <td>05/02/2022</td>
                                        <td><%= users[i].terminos %></td>
                                        <td><%= users[i].rol %></td>
                                        <td><a class="row-white" title="Editar" href="/users/detailUser/<%= users[i].id %>"><i class="fas fa-user-edit"></i></a></td>
                                        <td>
                                            <form action="/users/<%= users[i].id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="" title="Eliminar">
                                                    <i class="fas fa-trash-alt"></i>
                                                 </button>
                                            </form>
                                        </td>
                                    </tr>
                                     <% } %>
                                 <% } %>

                                    <!-- <tr>
                                        <th scope="row">1</th>
                                        <td>Aline</td>
                                        <td>Gruba</td>
                                        <td>gruba.aline@gmail.com</td>
                                        <td>secreto</td>
                                        <td>on</td>
                                        <td>Cliente</td>
                                        <td>usuario-generico.png</td>
                                        <td>Editar</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Aline</td>
                                        <td>Gruba</td>
                                        <td>gruba.aline@gmail.com</td>
                                        <td>secreto</td>
                                        <td>on</td>
                                        <td>Cliente</td>
                                        <td>usuario-generico.png</td>
                                        <td>Editar</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Aline</td>
                                        <td>Gruba</td>
                                        <td>gruba.aline@gmail.com</td>
                                        <td>secreto</td>
                                        <td>on</td>
                                        <td>Cliente</td>
                                        <td>usuario-generico.png</td>
                                        <td>Editar</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Aline</td>
                                        <td>Gruba</td>
                                        <td>gruba.aline@gmail.com</td>
                                        <td>secreto</td>
                                        <td>on</td>
                                        <td>Cliente</td>
                                        <td>usuario-generico.png</td>
                                        <td>Editar</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Aline</td>
                                        <td>Gruba</td>
                                        <td>gruba.aline@gmail.com</td>
                                        <td>secreto</td>
                                        <td>on</td>
                                        <td>Cliente</td>
                                        <td>usuario-generico.png</td>
                                        <td>Editar</td>
                                    </tr> -->
                                <!-- END TABLA USERS-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<!-- START FOOTER-->
<%- include("./partials/footer.ejs") %>    
<!-- END FOOTER-->
</html>