<!DOCTYPE html>
<html>

<!-- START HEAD-->
<%- include("./partials/head.ejs", {title: "Editando: " + productEdited.nombre,
    style1: 'rel=stylesheet href=/css/formsproducts.css' , style2:""}) %>
    <!-- END HEAD-->

    <body>

        <!-- START HEADER -->
        <%- include("./partials/header.ejs") %>
            <!-- END HEADER-->

            <form action="/products/editProduct/<%= productEdited.id %>?_method=PUT" method="POST" class="forms"
                enctype="multipart/form-data">
                <div class="container2">
                    <h1>Editar Productos</h1>


                    <div class="campos-form">
                        <label for="nombre-producto"><b>Nombre de producto</b></label>
                        <input type="text" placeholder="" value="<%=productEdited.nombre%>" name="nombreproducto"
                            id="nombreproducto" required>
                    </div>

                    <div class="campos-form">
                        <label for="descripcion-producto"><b>Descripcion del producto </b></label>
                        <textarea type="text" placeholder="" name="descripcionproducto" id="descripcionproducto"
                            required><%=productEdited.descripcion%></textarea>
                    </div>

                    <div class="campos-form categoria-producto">
                        <label for="categoria-producto"><b>Categoría</b></label>

                        <select name="categoriaproducto">
                            <option value="<%=productEdited.categoria%>" selected>
                                <%=productEdited.categoria%>
                            </option>
                            <%categoriasProductos.forEach(element=> {%>

                                <%if(productEdited.categoria!=element){%>
                                    <option value="<%=element%>">
                                        <%=element%>
                                    </option>
                                    <%}%>

                                        <%})%>
                        </select>
                    </div>

                    <div class="campos-form">
                        <label for="descuento-producto"><b>Descuento</b></label>
                        <textarea type="text" placeholder="" name="descuentoproducto" id="descuentoproducto"
                            required><%=productEdited.descuento%></textarea>
                    </div>

                    <div class="campos-form">
                        <label for="cantidad-producto"><b>Cantidad</b></label><br/>
                        <input type="number" placeholder="Cantidad de producto" name="Cantidadproducto"
                            id="cantidadproducto">
                    </div>

                    <div class="campos-form">
                        <label for="precio-producto"><b>Precio del producto</b></label>
                        <input type="number" placeholder="" value="<%=productEdited.precio%>" name="precioproducto"
                            id="precioproducto" required>
                    </div>

                    <div class="campos-form">
                        <label for="imagen-producto"><b>Imagen del producto (actual:<%=productEdited.imagen%>
                                    )</b></label>
                        <input type="file" placeholder="Imagen de producto" name="imagenproducto" id="imagenproducto"
                            value="">
                    </div>

                    <div class="botones">
                        <button type="submit" class="btn-bgstroke" href="#">Modificar</button>
                    </div>

                    <div class="botones">
                        <button type="button" class="btn-bgstroke" href="#">Borrar</button>
                    </div>

                </div>
            </form>

    </body>

    <!-- START FOOTER -->
    <%- include("./partials/footer.ejs") %>
        <!-- END FOOTER-->


</html>